* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.status {
  width: calc(100% - 40px);
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.status span {
  font-weight: 600;
}

.status span.connected {
  color: #30ad30;
}

.status span.disconnected {
  color: #c02e2e;
}

.controller-container {
  width: 60%;
  max-width: 500px;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "head-left up head-right" "left stop right" ". down reset";
}

.controller-container > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controller-container > span i {
  font-size: 800%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.controller-container > span i:hover {
  color: #707070;
}

.controller-container > span i:active {
  color: #000;
}

.controller-up {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: up;
}

.controller-up i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.controller-down {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: down;
}

.controller-down i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.controller-left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left;
}

.controller-left i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.controller-right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: right;
}

.controller-stop {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: stop;
}

#refresh {
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#refresh.rotate {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.controller-head-right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: head-right;
}

.controller-head-right i {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  font-size: 600% !important;
}

.controller-reset {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: reset;
}

.controller-reset i {
  font-size: 600% !important;
}

.controller-head-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head-left;
}

.controller-head-left i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 600% !important;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 500px) {
  .controller-container {
    width: 100%;
  }
}
/*# sourceMappingURL=global.css.map */